body{
  background-color: white;
}

*/*para darle contenido a toda la pagina*/{
  border: 1px solid red;
  margin: 10px;
}
/*selector de etiqueta*/
header{
  background: blue;
}

section{
  background:purple;
}

/*selector descendiente*/

article h3{
  color: green;
}

/*selectores de clases*/

.title-a{
  background: yellow;
}

.title-b{
  background: salmon;
}

/*selector id*/
#header{
  border: 3px solid black;
}

#portada{
  border: 3px solid orange;
}
#guitarras{
  border: 3px solid gray;
}
